{% extends 'base.html' %}

{% block title%} Home {%endblock title%}
{% block body%}

<div class= "container my-4">  
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h1 style="color:green; background-color:black; text-align: center;">BagsNepal</h1>
    <hr style="width:200px" class="w3-opacity">
      </div>
</div>
<div class="container my-4">
  <h1 align ="center"> Select from the lists. </h1>
  <div class="row">
  <div class="col-lg-4">
    <img src="/static/2.png" height="200px" width="200px"> <br>
    <h2 class="fw-normal">Laptop Bag</h2>
    <p>Cat Large Capacity Laptop Bag School Collage Travel Backpack Bag Quality Nylon Fabric Waterproof Bag for Unisex</p>
    <p style="color:green">  Price: RS 1800</p>
  </div><!-- /.col-lg-4 -->
  
  <div class="col-lg-4">
    <img src="/static/3.png" height="200px" width="200px"> <br>
    <h2 class="fw-normal">Smart Women Bag</h2>
    <p>Canvas Tote Bag For Smart Women With Sanitizer Holder</p>
    <p style="color:green"> Price: Rs 2000</p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <img src="/static/4.png" height="200px" width="200px"> <br>
    <h2 class="fw-normal">Laguage Bag</h2>
    <p>Fast Travel School Bag Class 5-10 Large 4 partition 45 L Laptop Collage Office Travel Backpack Unisex</p>
    <p style="color:green"> Price: Rs 2100</p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <img src="/static/5.png" height="200px" width="200px"> <br>
    <h2 class="fw-normal">Casual Backpack </h2>
    <p>ADISA 31 Ltrs Casual Backpack School College Bag Pack (BP046-NAV_Navy Blue)  Bags, Wallets and Luggage</p>
    <p style="color:green"> Price: Rs 2100</p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <img src="/static/6.png" height="200px" width="200px"> <br>
    <h2 class="fw-normal">Hemp bag</h2>
    <p>Hemp bag craze spreads among Nepali youths</p>
    <p style="color:green"> Price: Rs 2100</p>
  </div><!-- /.col-lg-4 -->

  <div class="col-lg-4">
    <img src="/static/1.png" height="200px" width="200px"> <br>
    <h2 class="fw-normal">Leather Travel School Bag</h2>
    <p>Fast Travel School Bag Class 5-10 Large 4 partition 45 L Laptop Collage Office Travel Backpack Unisex</p>
    <p style="color:green"> Price: Rs 2100</p>
  </div><!-- /.col-lg-4 -->
</div>
</div>
{%endblock body%}
